.jumbotron {
  background-color:transparent !important;
  font-family: 'Khula', sans-serif !important;
}

.title {
  color: #ff5a5f !important;
  font-size: 55px;
  font-weight: bold;
}

.subtitle {
  font-size: 50px;
}