.show_cropping {
  height: 450px;
  background-size: 1140px 450px, cover;
}

.booking-box {
  border-style: solid;
  border-color: gray;
  border-top: none;
  border-width: 1px;
  padding: 10px;
}

.booking-price {
  background-color: #ff5a5f;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  padding: 10px;
}