hello <%= current_user.first_name %>!

<div class="row">
  <div class="col-md-4"><%= render partial: 'admin/dashboard/charts/owner_most_revenue' %></div>
  <div class="col-md-4">  </div>
  <div class="col-md-4">  </div>
</div>

<div class="row"></div>
<div class="row"></div>

<%= content_for :foot do %>
  <%= javascript_include_tag 'admin/dashboard/charts/owner_most_revenue' %>
<% end %>
