hello <%= current_user.first_name %>!

<div class="dashboard-cont">
  <div class="row">
    <div class="col-md-12 chart">
      <h2>Highests Scorers</h2>
      <%= render partial: 'admin/dashboard/charts/user_most' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 chart">
      <h2>All Time Revenue by Month</h2>
      <%= render partial: 'admin/dashboard/charts/reservations_by_month' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>By State Comparisons</h2>
      <%= render partial: 'admin/dashboard/charts/heatmap' %>
      <!-- Number of Properties
      Revenue Per Night
      Reservations Per month
      Total Revenue -->
    </div>
  </div>
</div>
