---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/Colorodo/denver.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Tue, 25 Jul 2017 20:12:04 GMT
      X-Creationtime:
      - '0.115'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t, \"results\": [\n\t\t{\n\t\t\"name\":
        \"Denver\",\n\t\t\"city\": \"Denver\",\n\t\t\"state\": \"CO\",\n\t\t\"country\":
        \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zmw\":
        \"80201.1.99999\",\n\t\t\"l\": \"/q/zmw:80201.1.99999\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"name\":
        \"Denver\",\n\t\t\"city\": \"Denver\",\n\t\t\"state\": \"FL\",\n\t\t\"country\":
        \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zmw\":
        \"32112.3.99999\",\n\t\t\"l\": \"/q/zmw:32112.3.99999\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"name\":
        \"Denver\",\n\t\t\"city\": \"Denver\",\n\t\t\"state\": \"GA\",\n\t\t\"country\":
        \"US\",\n\t\t\"coun[...]
