---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/WY/kuhicside.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 21:24:21 GMT
      X-Creationtime:
      - '0.018'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 21:24:21 GMT
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/NY/east_linwoodtown.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Tue, 25 Jul 2017 20:10:56 GMT
      X-Creationtime:
      - '0.033'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"East, China\",\n\t\t\"city\":\"East\",\n\t\t\"state\":\"51\",\n\t\t\"state_name\":\"China\",\n\t\t\"country\":\"CI\",\n\t\t\"country_iso3166\":\"CN\",\n\t\t\"zip\":\"00000\",\n\t\t\"magic\":\"235\",\n\t\t\"wmo\":\"56671\",\n\t\t\"latitude\":\"26.57999992\",\n\t\t\"longitude\":\"101.72000122\",\n\t\t\"elevation\":\"1155.2\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"Huili, \",\n\t\t\"city\":\"Huili\",\n\t\t\"state\":\"\",\n\t\t\"country\":\"China\",\n\t\t\"country_iso3166\":\"CN\",\n\t\t\"latitude\":\"26.64999962\",\n\t\t\"longitude\":\"102.25000000\",\n\t\t\"elevation\":\"5866
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"56671\",\n\t\t\"observation_time\":\"Last
        Updated on July 26, 2:00 AM CST\",\n\t\t\"observation_time_rfc822\":\"Wed,
        26 Jul 2017 02:00:00 +0800\",\n\t\t\"observation_epoch\":\"1501005600\",\n\t\t\"local_time_rfc822\":\"Wed,
        26 Jul 2017 04:10:56 +0800\",\n\t\t\"local_epoch\":\"1501013456\",\n\t\t\"local_tz_short\":\"CST\",\n\t\t\"local_tz_long\":\"Asia/Shanghai\",\n\t\t\"local_tz_offset\":\"+0800\",\n\t\t\"weather\":\"Rain\",\n\t\t\"temperature_string\":\"64
        F (18 C)\",\n\t\t\"temp_f\":64,\n\t\t\"temp_c\":18,\n\t\t\"relative_humidity\":\"86%\",\n\t\t\"wind_string\":\"From
        the NNW at 4 MPH\",\n\t\t\"wind_dir\":\"NNW\",\n\t\t\"wind_degrees\":340,\n\t\t\"wind_mph\":4,\n\t\t\"wind_gust_mph\":0,\n\t\t\"wind_kph\":7,\n\t\t\"wind_gust_kph\":0,\n\t\t\"pressure_mb\":\"1008.8\",\n\t\t\"pressure_in\":\"29.79\",\n\t\t\"pressure_trend\":\"-\",\n\t\t\"dewpoint_string\":\"61
        F (16 C)\",\n\t\t\"dewpoint_f\":61,\n\t\t\"dewpoint_c\":16,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"64
        F (18 C)\",\n\t\t\"feelslike_f\":\"64\",\n\t\t\"feelslike_c\":\"18\",\n\t\t\"visibility_mi\":\"19.0\",\n\t\t\"visibility_km\":\"30.0\",\n\t\t\"solarradiation\":\"--\",\n\t\t\"UV\":\"-1\",\"precip_1hr_string\":\"0.01
        in (0 mm)\",\n\t\t\"precip_1hr_in\":\"0.01\",\n\t\t\"precip_1hr_metric\":\"0\",\n\t\t\"precip_today_string\":\"0.02
        in (1 mm)\",\n\t\t\"precip_today_in\":\"0.02\",\n\t\t\"precip_today_metric\":\"1\",\n\t\t\"icon\":\"rain\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_rain.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/global/stations/56671.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/history/airport/56671/2017/7/26/DailyHistory.html\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=26.64999962,102.25000000\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Tue, 25 Jul 2017 20:10:56 GMT
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/KS/east_efrainchester.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Tue, 25 Jul 2017 20:12:01 GMT
      X-Creationtime:
      - '0.040'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":[...]
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/NY/north_camrenmouth.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Tue, 25 Jul 2017 20:12:17 GMT
      X-Creationtime:
      - '0.039'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t, \"results\": [\n\t\t{\n\t\t\"name\":
        \"North\",\n\t\t\"city\": \"North\",\n\t\t\"state\": \"AK\",\n\t\t\"country\":
        \"NI\",\n\t\t\"country_iso3166\":\"NG\",\n\t\t\"country_name\":\"Nigeria\",\n\t\t\"zmw\":
        \"00000.906.WDNIM\",\n\t\t\"l\": \"/q/zmw:00000.906.WDNIM\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"name\":
        \"North\",\n\t\t\"city\": \"North\",\n\t\t\"state\": \"SC\",\n\t\t\"country\":
        \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zmw\":
        \"29112.1.99999\",\n\t\t\"l\": \"/q/zmw:29112.1.99999\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"name\":
        \"North\",\n\t\t\"city\": \"North\",\n\t\t\"state\": \"VA\",\n\t\t\"country\":
        \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zmw\":
        \"23128.1.99999\",\n\t\t\"l\": \"/q/zmw:23128.1.99999\"\n\t\t}\n\t\t]\n\t}\n}\n"
  recorded_at: Tue, 25 Jul 2017 20:12:17 GMT
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/AK/lake_vadatown.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 19:57:08 GMT
      X-Creationtime:
      - '0.107'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/AR/east_paige.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 19:57:51 GMT
      X-Creationtime:
      - '0.039'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",[...]
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/MS/hageneshaven.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 20:11:00 GMT
      X-Creationtime:
      - '0.021'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 20:11:00 GMT
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/WA/west_elroyshire.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 20:13:47 GMT
      X-Creationtime:
      - '0.084'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0[...]
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/NJ/coryberg.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 20:14:56 GMT
      X-Creationtime:
      - '0.024'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 20:14:56 GMT
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/MS/torphybury.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 20:52:59 GMT
      X-Creationtime:
      - '0.025'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 20:53:00 GMT
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/FL/lake_lavonne.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 20:57:28 GMT
      X-Creationtime:
      - '0.115'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\[...]
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/OR/ortizmouth.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 21:03:44 GMT
      X-Creationtime:
      - '0.033'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 21:03:44 GMT
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/WV/south_abnerview.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 21:26:18 GMT
      X-Creationtime:
      - '0.020'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 21:26:18 GMT
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/VT/south_sasha.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 21:26:58 GMT
      X-Creationtime:
      - '0.019'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 21:26:58 GMT
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/GA/north_ruthe.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 21:27:49 GMT
      X-Creationtime:
      - '0.041'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\"[...]
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/KS/starkport.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 22:15:14 GMT
      X-Creationtime:
      - '0.016'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 22:15:14 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/KS/starkport.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 22:15:14 GMT
      X-Creationtime:
      - '0.016'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 22:15:16 GMT
recorded_with: VCR 3.0.3
