---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/WY/kuhicside.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 21:24:21 GMT
      X-Creationtime:
      - '0.018'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 21:24:21 GMT
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/IL/port_chelsieside.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 21:47:49 GMT
      X-Creationtime:
      - '0.064'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t, \"results\": [\n\t\t{\n\t\t\"name\":
        \"Port\",\n\t\t\"city\": \"Port\",\n\t\t\"state\": \"01\",\n\t\t\"country\":
        \"FR\",\n\t\t\"country_iso3166\":\"FR\",\n\t\t\"country_name\":\"France\",\n\t\t\"zmw\":
        \"00000.128.07482\",\n\t\t\"l\": \"/q/zmw:00000.128.07482\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"name\":
        \"Port\",\n\t\t\"city\": \"Port\",\n\t\t\"state\": \"20\",\n\t\t\"country\":
        \"NO\",\n\t\t\"country_iso3166\":\"NO\",\n\t\t\"country_name\":\"Norway\",\n\t\t\"zmw\":
        \"00000.13.02805\",\n\t\t\"l\": \"/q/zmw:00000.13.02805\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"name\":
        \"Port\",\n\t\t\"city\": \"Port\",\n\t\t\"state\": \"DL\",\n\t\t\"country\":
        \"IE\",\n\t\t\"country_iso3166\":\"IE\",\n\t\t\"country_name\":\"Ireland\",\n\t\t\"zmw\":
        \"00000.69.WEIDL\",\n\t\t\"l\": \"/q/zmw:00000.69.WEIDL\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"name\":
        \"Port\",\n\t\t\"city\": \"Port\",\n\t\t\"state\": \"LH\",\n\t\t\"country\":
        \"IE\",\n\t\t\"country_iso3166\":\"IE\",\n\t\t\"country_name\":\"Ireland\",\n\t\t\"zmw\":
        \"00000.149.03969\",\n\t\t\"l\": \"/q/zmw:00000.149.03969\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"name\":
        \"Port\",\n\t\t\"city\": \"Port\",\n\t\t\"state\": \"SJ\",\n\t\t\"country\":
        \"RO\",\n\t\t\"country_iso3166\":\"RO\",\n\t\t\"country_name\":\"Romania\",\n\t\t\"zmw\":
        \"00000.24.15095\",\n\t\t\"l\": \"/q/zmw:00000.24.15095\"\n\t\t}\n\t\t]\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 21:47:49 GMT
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/TN/port_jaycee.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 21:55:24 GMT
      X-Creationtime:
      - '0.048'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\"[...]
[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/MS/lake_kaelynburgh.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 21:56:10 GMT
      X-Creationtime:
      - '0.105'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"[...]
[...]
