---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/TN/knoxville.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 27 Jul 2017 17:40:29 GMT
      X-Creationtime:
      - '0.060'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Knoxville, TN\",\n\t\t\"city\":\"Knoxville\",\n\t\t\"state\":\"TN\",\n\t\t\"state_name\":\"Tennessee\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"37901\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"35.97000122\",\n\t\t\"longitude\":\"-83.91999817\",\n\t\t\"elevation\":\"276.1\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"South Haven, Knoxville, Tennessee\",\n\t\t\"city\":\"South
        Haven, Knoxville\",\n\t\t\"state\":\"Tennessee\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"35.952084\",\n\t\t\"longitude\":\"-83.881912\",\n\t\t\"elevation\":\"893
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KTNKNOXV206\",\n\t\t\"observation_time\":\"Last
        Updated on July 27, 1:40 PM EDT\",\n\t\t\"observation_time_rfc822\":\"Thu,
        27 Jul 2017 13:40:25 -0400\",\n\t\t\"observation_epoch\":\"1501177225\",\n\t\t\"local_time_rfc822\":\"Thu,
        27 Jul 2017 13:40:29 -0400\",\n\t\t\"local_epoch\":\"1501177229\",\n\t\t\"local_tz_short\":\"EDT\",\n\t\t\"local_tz_long\":\"America/New_York\",\n\t\t\"local_tz_offset\":\"-0400\",\n\t\t\"weather\":\"Partly
        Cloudy\",\n\t\t\"temperature_string\":\"87.8 F (31.0 C)\",\n\t\t\"temp_f\":87.8,\n\t\t\"temp_c\":31.0,\n\t\t\"relative_humidity\":\"61%\",\n\t\t\"wind_string\":\"From
        the SSW at 1.8 MPH Gusting to 4.9 MPH\",\n\t\t\"wind_dir\":\"SSW\",\n\t\t\"wind_degrees\":196,\n\t\t\"wind_mph\":1.8,\n\t\t\"wind_gust_mph\":\"4.9\",\n\t\t\"wind_kph\":2.9,\n\t\t\"wind_gust_kph\":\"7.9\",\n\t\t\"pressure_mb\":\"1015\",\n\t\t\"pressure_in\":\"29.99\",\n\t\t\"pressure_trend\":\"-\",\n\t\t\"dewpoint_string\":\"73
        F (23 C)\",\n\t\t\"dewpoint_f\":73,\n\t\t\"dewpoint_c\":23,\n\t\t\"heat_index_string\":\"95
        F (35 C)\",\n\t\t\"heat_index_f\":95,\n\t\t\"heat_index_c\":35,\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"95
        F (35 C)\",\n\t\t\"feelslike_f\":\"95\",\n\t\t\"feelslike_c\":\"35\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"325\",\n\t\t\"UV\":\"4.0\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/partlycloudy.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/TN/Knoxville.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KTNKNOXV206\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=35.952084,-83.881912\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Thu, 27 Jul 2017 17:40:29 GMT
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=6101%20Bill%20Murray%20Ln%2BKnoxville%2BTN%2B37912&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "6101",
                       "short_name" : "6101",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Bill Murray Lane",
                       "short_name" : "Bill Murray Ln",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Knoxville",
                       "short_name" : "Knoxville",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "[...]
[...]
