---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/ID/cecilstad.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Tue, 25 Jul 2017 20:56:35 GMT
      X-Creationtime:
      - '0.016'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Tue, 25 Jul 2017 20:56:35 GMT
recorded_with: VCR 3.0.3
