---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/ID/cecilstad.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Tue, 25 Jul 2017 20:56:35 GMT
      X-Creationtime:
      - '0.016'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Tue, 25 Jul 2017 20:56:35 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/WA/west_elroyshire.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 20:13:47 GMT
      X-Creationtime:
      - '0.084'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t, \"results\": [\n\t\t{\n\t\t\"name\":
        \"West\",\n\t\t\"city\": \"West\",\n\t\t\"state\": \"ABR\",\n\t\t\"country\":
        \"PH\",\n\t\t\"country_iso3166\":\"PH\",\n\t\t\"country_name\":\"Philippines\",\n\t\t\"zmw\":
        \"00000.1286.98222\",\n\t\t\"l\": \"/q/zmw:00000.1286.98222\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"name\":
        \"West\",\n\t\t\"city\": \"West\",\n\t\t\"state\": \"MS\",\n\t\t\"country\":
        \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zmw\":
        \"39192.1.99999\",\n\t\t\"l\": \"/q/zmw:39192.1.99999\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"name\":
        \"West\",\n\t\t\"city\": \"West\",\n\t\t\"state\": \"NC\",\n\t\t\"country\":
        \"ZA\",\n\t\t\"countr[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/NJ/coryberg.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 20:14:56 GMT
      X-Creationtime:
      - '0.024'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 20:14:59 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/MS/torphybury.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 20:53:04 GMT
      X-Creationtime:
      - '0.026'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 20:53:04 GMT
recorded_with: VCR 3.0.3
