---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/ID/cecilstad.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Tue, 25 Jul 2017 20:56:35 GMT
      X-Creationtime:
      - '0.016'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Tue, 25 Jul 2017 20:56:35 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/WA/west_elroyshire.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 20:13:47 GMT
      X-Creationtime:
      - '0.084'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t, \"results\": [\n\t\t{\n\t\t\"name\":
        \"West\",\n\t\t\"city\": \"West\",\n\t\t\"state\": \"ABR\",\n\t\t\"country\":
        \"PH\",\n\t\t\"country_iso3166\":\"PH\",\n\t\t\"country_name\":\"Philippines\",\n\t\t\"zmw\":
        \"00000.1286.98222\",\n\t\t\"l\": \"/q/zmw:00000.1286.98222\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"name\":
        \"West\",\n\t\t\"city\": \"West\",\n\t\t\"state\": \"MS\",\n\t\t\"country\":
        \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zmw\":
        \"39192.1.99999\",\n\t\t\"l\": \"/q/zmw:39192.1.99999\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"name\":
        \"West\",\n\t\t\"city\": \"West\",\n\t\t\"state\": \"NC\",\n\t\t\"country\":
        \"ZA\",\n\t\t\"countr[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/NJ/coryberg.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 20:14:56 GMT
      X-Creationtime:
      - '0.024'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 20:14:59 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/MS/torphybury.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 20:53:04 GMT
      X-Creationtime:
      - '0.026'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 20:53:04 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/FL/lake_lavonne.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 20:57:28 GMT
      X-Creationtime:
      - '0.115'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/OR/ortizmouth.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 21:03:44 GMT
      X-Creationtime:
      - '0.033'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 21:03:48 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/WV/south_abnerview.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 21:26:18 GMT
      X-Creationtime:
      - '0.020'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 21:26:21 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/VT/south_sasha.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 21:26:58 GMT
      X-Creationtime:
      - '0.019'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 21:27:03 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/GA/north_ruthe.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 21:27:49 GMT
      X-Creationtime:
      - '0.041'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\"[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/KS/starkport.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 22:15:14 GMT
      X-Creationtime:
      - '0.016'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\":
        \"querynotfound\"\n\t\t,\"description\": \"No cities match your search query\"\n\t}\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 22:15:18 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/CA/port_kasandra.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 23:03:23 GMT
      X-Creationtime:
      - '0.049'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=6111%20Lubowitz%20Drives%2BEast%20Edwinafurt%2BMN%2B13759&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Thu, 27 Jul 2017 16:53:52 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/MN/east_edwinafurt.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 27 Jul 2017 16:53:48 GMT
      X-Creationtime:
      - '0.036'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"East, China\",\n\t\t\"city\":\"East\",\n\t\t\"state\":\"51\",\n\t\t\"state_name\":\"China\",\n\t\t\"country\":\"CI\",\n\t\t\"country_iso3166\":\"CN\",\n\t\t\"zip\":\"00000\",\n\t\t\"magic\":\"235\",\n\t\t\"wmo\":\"56671\",\n\t\t\"latitude\":\"26.57999992\",\n\t\t\"longitude\":\"101.72000122\",\n\t\t\"elevation\":\"1155.2\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"Huili, \",\n\t\t\"city\":\"Huili\",\n\t\t\"state\":\"\",\n\t\t\"country\":\"China\",\n\t\t\"country_iso3166\":\"CN\",\n\t\t\"latitude\":\"26.64999962\",\n\t\t\"longitude\":\"102.25000000\",\n\t\t\"elevation\":\"5866
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"56671\",\n\t\t\"observation_time\":\"Last
        Updated on July 27, 8:00 PM CST\",\n\t\t\"observation_time_rfc822\":\"Thu,
        27 Jul 2017 20:00:00 +0800\",\n\t\t\"observation_epoch\":\"1501156800\",\n\t\t\"local_time_rfc822\":\"Fri,
        28 Jul 2017 00:53:48 +0800\",\n\t\t\"local_epoch\":\"1501174428\",\n\t\t\"local_tz_short\":\"CST\",\n\t\t\"local_tz_long\":\"Asia/Shanghai\",\n\t\t\"local_tz_offset\":\"+0800\",\n\t\t\"weather\":\"Partly
        Cloudy\",\n\t\t\"temperature_string\":\"77 F (25 C)\",\n\t\t\"temp_f\":77,\n\t\t\"temp_c\":25,\n\t\t\"relative_humidity\":\"51%\",\n\t\t\"wind_string\":\"Calm\",\n\t\t\"wind_dir\":\"\",\n\t\t\"wind_degrees\":0,\n\t\t\"wind_mph\":0,\n\t\t\"wind_gust_mph\":0,\n\t\t\"wind_kph\":0,\n\t\t\"wind_gust_kph\":0,\n\t\t\"pressure_mb\":\"1008.3\",\n\t\t\"pressure_in\":\"29.78\",\n\t\t\"pressure_trend\":\"+\",\n\t\t\"dewpoint_string\":\"62
        F (17 C)\",\n\t\t\"dewpoint_f\":62,\n\t\t\"dewpoint_c\":17,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"77
        F (25 C)\",\n\t\t\"feelslike_f\":\"77\",\n\t\t\"feelslike_c\":\"25\",\n\t\t\"visibility_mi\":\"19.0\",\n\t\t\"visibility_km\":\"30.0\",\n\t\t\"solarradiation\":\"--\",\n\t\t\"UV\":\"-1\",\"precip_1hr_string\":\"0.00
        in (0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"0\",\n\t\t\"precip_today_string\":\"0.05
        in (1 mm)\",\n\t\t\"precip_today_in\":\"0.05\",\n\t\t\"precip_today_metric\":\"1\",\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_partlycloudy.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/global/stations/56671.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/history/airport/56671/2017/7/27/DailyHistory.html\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=26.64999962,102.25000000\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Thu, 27 Jul 2017 16:53:52 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=6101%20Bill%20Murray%20Ln%2BKnoxville%2BTN%2B37912&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "6101",
                       "short_name" : "6101",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Bill Murray Lane",
                       "short_name" : "Bill Murray Ln",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Knoxville",
                       "short_name" : "Knoxville",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/TN/knoxville.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 27 Jul 2017 17:25:48 GMT
      X-Creationtime:
      - '0.083'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\[...]
