---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=6101%20Bill%20Murray%20Ln%2BChickasha%2BOK%2B37912&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Thu, 27 Jul 2017 17:40:53 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/OK/chickasha.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 27 Jul 2017 17:40:53 GMT
      X-Creationtime:
      - '0.068'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Chickasha, OK\",\n\t\t\"city\":\"Chickasha\",\n\t\t\"state\":\"OK\",\n\t\t\"state_name\":\"Oklahoma\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"73018\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"35.04000092\",\n\t\t\"longitude\":\"-97.94999695\",\n\t\t\"elevation\":\"335.0\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"Sleepy Hollow, Chickasha, Oklahoma\",\n\t\t\"city\":\"Sleepy
        Hollow, Chickasha\",\n\t\t\"state\":\"Oklahoma\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"35.010368\",\n\t\t\"longitude\":\"-97.943085\",\n\t\t\"elevation\":\"1112
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KOKCHICK5\",\n\t\t\"observation_time\":\"Last
        Updated on July 27, 12:40 PM CDT\",\n\t\t\"observation_time_rfc822\":\"Thu,
        27 Jul 2017 12:40:39 -0500\",\n\t\t\"observation_epoch\":\"1501177239\",\n\t\t\"local_time_rfc822\":\"Thu,
        27 Jul 2017 12:40:53 -0500\",\n\t\t\"local_epoch\":\"1501177253\",\n\t\t\"local_tz_short\":\"CDT\",\n\t\t\"local_tz_long\":\"America/Chicago\",\n\t\t\"local_tz_offset\":\"-0500\",\n\t\t\"weather\":\"Partly
        Cloudy\",\n\t\t\"temperature_string\":\"94.6 F (34.8 C)\",\n\t\t\"temp_f\":94.6,\n\t\t\"temp_c\":34.8,\n\t\t\"relative_humidity\":\"49%\",\n\t\t\"wind_string\":\"Calm\",\n\t\t\"wind_dir\":\"SW\",\n\t\t\"wind_degrees\":228,\n\t\t\"wind_mph\":0.0,\n\t\t\"wind_gust_mph\":0,\n\t\t\"wind_kph\":0,\n\t\t\"wind_gust_kph\":0,\n\t\t\"pressure_mb\":\"1014\",\n\t\t\"pressure_in\":\"29.96\",\n\t\t\"pressure_trend\":\"+\",\n\t\t\"dewpoint_string\":\"72
        F (22 C)\",\n\t\t\"dewpoint_f\":72,\n\t\t\"dewpoint_c\":22,\n\t\t\"heat_index_string\":\"104
        F (40 C)\",\n\t\t\"heat_index_f\":104,\n\t\t\"heat_index_c\":40,\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"104
        F (40 C)\",\n\t\t\"feelslike_f\":\"104\",\n\t\t\"feelslike_c\":\"40\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"634\",\n\t\t\"UV\":\"9.0\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/partlycloudy.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/OK/Chickasha.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KOKCHICK5\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=35.010368,-97.943085\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Thu, 27 Jul 2017 17:40:53 GMT
recorded_with: VCR 3.0.3
