---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/OK/chickasha.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 26 Jul 2017 21:24:32 GMT
      X-Creationtime:
      - '0.059'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Chickasha, OK\",\n\t\t\"city\":\"Chickasha\",\n\t\t\"state\":\"OK\",\n\t\t\"state_name\":\"Oklahoma\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"73018\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"35.04000092\",\n\t\t\"longitude\":\"-97.94999695\",\n\t\t\"elevation\":\"335.0\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"Sleepy Hollow, Chickasha, Oklahoma\",\n\t\t\"city\":\"Sleepy
        Hollow, Chickasha\",\n\t\t\"state\":\"Oklahoma\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"35.010368\",\n\t\t\"longitude\":\"-97.943085\",\n\t\t\"elevation\":\"1112
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KOKCHICK5\",\n\t\t\"observation_time\":\"Last
        Updated on July 26, 4:24 PM CDT\",\n\t\t\"observation_time_rfc822\":\"Wed,
        26 Jul 2017 16:24:06 -0500\",\n\t\t\"observation_epoch\":\"1501104246\",\n\t\t\"local_time_rfc822\":\"Wed,
        26 Jul 2017 16:24:32 -0500\",\n\t\t\"local_epoch\":\"1501104272\",\n\t\t\"local_tz_short\":\"CDT\",\n\t\t\"local_tz_long\":\"America/Chicago\",\n\t\t\"local_tz_offset\":\"-0500\",\n\t\t\"weather\":\"Partly
        Cloudy\",\n\t\t\"temperature_string\":\"100.6 F (38.1 C)\",\n\t\t\"temp_f\":100.6,\n\t\t\"temp_c\":38.1,\n\t\t\"relative_humidity\":\"39%\",\n\t\t\"wind_string\":\"From
        the SSW at 4.5 MPH Gusting to 7.4 MPH\",\n\t\t\"wind_dir\":\"SSW\",\n\t\t\"wind_degrees\":198,\n\t\t\"wind_mph\":4.5,\n\t\t\"wind_gust_mph\":\"7.4\",\n\t\t\"wind_kph\":7.2,\n\t\t\"wind_gust_kph\":\"11.9\",\n\t\t\"pressure_mb\":\"1013\",\n\t\t\"pressure_in\":\"29.93\",\n\t\t\"pressure_trend\":\"+\",\n\t\t\"dewpoint_string\":\"71
        F (22 C)\",\n\t\t\"dewpoint_f\":71,\n\t\t\"dewpoint_c\":22,\n\t\t\"heat_index_string\":\"110
        F (43 C)\",\n\t\t\"heat_index_f\":110,\n\t\t\"heat_index_c\":43,\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"110
        F (43 C)\",\n\t\t\"feelslike_f\":\"110\",\n\t\t\"feelslike_c\":\"43\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"797\",\n\t\t\"UV\":\"7.0\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/partlycloudy.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/OK/Chickasha.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KOKCHICK5\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=35.010368,-97.943085\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Wed, 26 Jul 2017 21:24:32 GMT
recorded_with: VCR 3.0.3
