<div class= 'index_map'>
  <iframe id='map-index'
    width="600"
    height="450"
    frameborder="0" style="border:0"
     src="<%="https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_MAP_KEY']}&q=#{property_attributes(@presenter.properties)}"%>" allowfullscreen>
  </iframe>
</div>
