<div hidden id="location"><%= @presenter.params[:city]%> </div>
<div id='map' class='index_map'></div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_KEY']%>&libraries=places&callback=searchMap" async defer></script>