<div id='map' class='index_map'></div>

<%= javascript_include_tag 'maps/searchMap.js' %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAP_KEY']}&libraries=places&callback=searchMap", async: true, defer: true %>