<div class="row">
  <div class="col-md-8">

    <iframe id='map'
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAP_KEY']%>&amp;q=<%=@property.prepare_address%>" allowfullscreen>
    </iframe>

  </div>
</div>
