<table class="table table-striped">
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Renter</th>
    <th>Total Price</th>
    <th>Action</th>
  </tr>
  <tbody>
    <%= render partial: 'reservations/request', collection: property.reservations.send(status), as: :request %>
  </tbody>
</table>
