<table class="table table-striped">
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Property</th>
    <th>Total Price</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tbody>
    <%= render partial: 'reservations/reservation', collection: user.reservations.send(status) %>
  </tbody>
</table>
