.panel-header {
  color: #484848;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dce0e0;
}

.space-4 {
  margin-bottom: 24px;
}

.panel {
  border: 1px solid #dce0e0;
  background-color: #fff;
  border-radius: 0;
}

.card-deck {
  display: flex;
}

.panel-body {
  position: relative;
}