#messages {
  max-height: 450px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}

.row {
  margin-left: -12px;
  margin-right: -12px;
}

.col-md-3 {
  width: 25%;
  float: left;
}

.col-sm-9 {
  width: 75%;
  float: left;
}