<div class="well">
  <%= link_to "Log in with Email", new_user_session_path %>
</div>
<div class="well">
  <%= link_to "Log in with Google", google_login_path %>
</div>
<div class="well">
  <%= link_to "Log in with Facebook", facebook_login_path %>
</div>
