<div class="row">
    <div class="panel-header">
      <h4>Log In</h4>
    </div>
    <div class="panel-body">
      <div class="text-left">
        <a class="btn btn-social-icon btn-facebook">
          <span class="fa fa-facebook"></span></a>
          <%= link_to "Log in with Facebook", user_facebook_omniauth_authorize_path %>
      </div>
      <br>

      <div class="text-left">
        <a class="btn btn-social-icon btn-google">
          <span class="fa fa-google"></span></a>
          <%= link_to "Log in with Google", user_google_oauth2_omniauth_authorize_path %>
      </div><br>

      <div class="text-left">
        <span class="glyphicon glyphicon-envelope"></span>
        <%= link_to "Log in with Email", new_user_session_path %>
      </div>
    </div>
  </div>
</div>
