.nav-search {

  input#place_search {
    max-width: 150px;
    text-align: center;
    color: #b7b7b7
  }

  input#check_in {
    max-width: 100px;
    text-align: center;
    color: #b7b7b7
  }

  input#check_out {
    max-width: 100px;
    text-align: center;
    color: #b7b7b7
  }

  input#guests {
    max-width: 100px;
    text-align: center;
    color: #b7b7b7
  }

  input, select, option {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  input, select {
    width: 100px;
    height: 40px;
    border: 1px #ccc solid;
    vertical-align: middle;
  }

  .search_bar {
    margin-left: 50px;
    text-align: left;
  }
}