.override-bootstrap-nav {
  display: flex;
  align-items: center;

  padding-left: 10px;

  .nav-search-bar {
    display: flex;
    flex-direction: row;

    .nav-search {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-self: flex-start;
      max-width: max-content;
      margin-left: 20px;

      form {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .form-group {
        margin: 0;
      }

      input#place_search {
        max-width: 200px;
        min-width: 200px;
        text-align: center;
        color: #b7b7b7;
      }

      input#date_range {
        max-width: 200px;
        min-width: 200px;
        text-align: center;
        color: #b7b7b7;
        border-left: none;
      }

      input#guests {
        max-width: 50px;
        min-width: 50px;
        text-align: center;
        color: #b7b7b7;
        border-left: none;
      }

      input#search-button {
        width: 100px;
        border-radius: 0;
        border-left: none;
      }

      input, select, option {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      input, select {
        height: 35px;
        border: 1px #ccc solid;
        vertical-align: middle;
      }
    }
  }

  .session-nav {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;

    a {
      padding: 10px;
      color: #555555;
    }
  }
}