@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

// .nav {
//   display: flex;
//   text-align: center;
//   align-items: center;
// }
.navbar {
  padding-top: 12px;
  padding-bottom: 12px;
  border-style: solid;
  border-color: black;
}

.collapse.navbar-collapse {
  padding: 0px
}

.container.sub-container {
  padding: 0px;
}

.navbar.subnav {
  background-color: #484848;
  padding: 0px;
  height: 18px;
}
.navbar-nav > li > a {
  text-shadow: none;
  color: #b7b7b7;
  padding-bottom: 11px !important; 
}

.navbar-nav > li > a:hover {
  color: white;
  background-color: transparent !important;
  border-bottom: 3px solid #b7b7b7;
}

.navbar-default .navbar-nav>li>a:hover {
  padding-bottom: 8px !important;
  border-bottom: 3px solid #b7b7b7;
}

.nav-logo {
  height: 45px;
  vertical-align: middle;
}

.profile-pic-large {
  width: 100%;
  border-radius: 6px;
}

.img-circle {
  width: 45px;
  border: 3px solid #b7b7b7 
}

.dropdown-menu>li>a:hover {
  background-color: transparent !important;
  background-image: none !important;
  color: #b7b7b7 !important;
}
.dropdown-menu>li>a:focus {
  background-color: transparent !important;
  background-image: none !important;
  color: #b7b7b7 !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-image: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.navbar-nav>li>a.dropdown-toggle {
  padding: 0px !important;
}

.navbar-nav>li>a.dropdown-toggle:hover {
  background-color:transparent !important;
  border-bottom: none;
  padding: 0px !important;
}

.jumbotron {
  background-color:transparent !important;
  font-family: 'Khula', sans-serif !important; 
}
  .title {
    color: #ff5a5f !important;
    font-size: 55px;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 50px;
  }

input#city {
  text-align: center;
  color: #b7b7b7
}

input#check_in {
  text-align: center;
  color: #b7b7b7
}

input#check_out {
  text-align: center;
  color: #b7b7b7
}

input#guests {
  text-align: center;
  color: #b7b7b7
}

input, select, option {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}
input, select {
  width: 200px;
  height: 40px;
  border: 1px #ccc solid;
  vertical-align: middle;
}

.search_bar {
  text-align: center;
}

.show_cropping {
  height: 450px;
  // background: url(paris_street.png);
  background-size: 1140px 450px, cover;
}

.btn-custom {
    background:  #ff5a5f;
    color: #ffffff;
}

.panel-header {
    color: #484848;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dce0e0;
}

.space-4 {
    margin-bottom: 24px;
}
.panel {
    border: 1px solid #dce0e0;
    background-color: #fff;
    border-radius: 0;
}

.card-deck {
  display: flex;
}

a.social-media-link {
  color: #484848 !important;
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: 'Khula', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Khula', sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  font-size: 1em;

}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
  font-size: 1em;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.glyphicon-envelope {
  font-size: 35px;
}

.booking-box {
  border-style: solid;
  border-color: gray;
  border-top: none;
  border-width: 1px;
  padding: 10px;
}

.booking-price {
  background-color: #ff5a5f;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  padding: 10px;
}

.index_map {
  float: right;
}
