<h3>Reviews (<%= target.reviews.count %>)</h3>
<% if target.reviews.count > 0 %>
  <h5>Average Rating: <%= target.average_rating %> of 5 stars</h5>

  <%= render partial: 'reviews/review', collection: target.reviews, as: :review %>
<% end %>
